<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    {{ error }}
{{ todo.title }}
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить запись</button>
    </form>
<br>
    <form method="POST" action="{% url 'completetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Выполнено</button>
    </form>
<br>
    <form method="POST" action="{% url 'deletetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Удалить запись</button>
    </form>

{% endblock %}
</body>
</html>